@font-face {
  font-family: "metalFont";
  src: url("/Faceless-K7wel.ttf")
}

body {
  background-image: url("https://images2.alphacoders.com/125/1259217.jpg");
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "metalFont";
  font-weight: 10;
  text-align: center;
  font-size: 100px;
  line-height: 1.5;
  color: white
  margin: 0px;
}

header {
  margin-bottom: 30px;
}

form {
  padding: 30px;
  background-color: rgba(18, 14, 31, 0.51);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px soild rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  background: url("https://ih1.redbubble.net/image.2208236503.9810/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg");
  margin-left: 10px;
  background-color: rgb(51, 211, 211);
  color: white;
  border: none;
  width: 150px;
  border-radius: 50px;
  padding: 14px 24px;
  font-size: 16px;

  
}
.lyric {
  font-size: 14px;
  background-color: rgba(18, 14, 31, 0.51);
  padding: 20px;
  border-radius: 10px;
  line-height: 20px;
  border-left: 3px soild #7ff6ff;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

a {
  color: rgb(51, 211, 211);
}